# ***Básico:*** Carga de datos

In [1]:
#Se importan las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl

In [2]:
#Cargamos el archivo csv y guardamos una variable llamada dataf
dataf=pd.read_csv('/content/OnlineRetail.csv', sep=';')
#Mostramos las primeras 10 filas del dataf
dataf.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

-Al ejecutar tu análisis exploratorio, describe el número de columnas y filas que encuentras, en cuáles encuentras valores nulos o perdidos y cuántos.

In [3]:
#Esto hace que muestre el numero de filas y columnas que existen en el dataf
print('Número de filas: ', dataf.shape[0])
print('Número de columnas: ', dataf.shape[1])

Número de filas:  541909
Número de columnas:  8

In [4]:
#La siguiente función busca cuales columnas contiene valores nulos
dataf.isna().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [5]:
#Enseguida se muestra la funcion con la cual se busca y cuenta la cantidad de valores nulos del dataf
dataf.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Para los valores perdidos numéricos:**

-Elimina todos los valores perdidos utilizando .dropna

In [6]:
#Eliminamos los valores nulos con .dropna
dataf.dropna(inplace=True)

In [7]:
#Comprobamos la anterior accion de la siguiente manera
dataf.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

-Calcula la media, máximo, mínimo y desviaciónestándar de las columnas con valores numéricos.

In [8]:
#Calculamos la media, el maximo, el valor minimo y la desviación estandar de las columnas de VN
dataf.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

-Si encuentras un valor que no tenga lógica, es decir valores negativos en columnas donde no deberían haber, elimínalos.

In [9]:
#Eliminamos los valores ilógicos que se muestran en la tabla
dataf= dataf[dataf.Quantity >=0]
#Comprobamos que se hayan eliminado los valores ilógicos
dataf.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

-Calcula cuántos valores únicos encontraste dentro de cada columna después de limpiar los datos.

In [10]:
#Calculamos los valores únicos de todas las columnas
dataf.nunique()

InvoiceNo      18536
StockCode       3665
Description     3877
Quantity         302
InvoiceDate    17286
UnitPrice        441
CustomerID      4339
Country           37
dtype: int64